@import "../../../styles/mixins.pcss";


.user-component {
  display: flex;
  align-items: center;
}


.username-wrapper {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color:white;
  margin-left: 10px;
}
.username {
  
}

.btn {
  display: none;
  background: transparent;
  color: rgba(255, 255, 255, 0.9);
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  @include phones {
    display: block;
  }

  &:hover {
    text-decoration: underline;
  }
}

