@import "../../../styles/mixins.pcss";

.page-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 50px 0 40px 0;
  background: url("../../../images/content/bgc-admin.png") center center / cover
    no-repeat;
  flex: 1;
}

.page-content-header {
  margin-bottom: 53px;
}

.title {
  margin-right: 60px;
  font-weight: bold;
  font-size: 21px;
  line-height: 29px;
  color: #414c63;

  @include phones {
    margin-bottom: 26px;
  }
}

.content {
}
