.about-section {
  padding-top: 170px;
}

.about__container {
  max-width: 1000px;
}

.about__user-wrapper {
  display: flex;

  @include phones {
    flex-direction: column;
  }
}

.about__user {
  width: 41.5%; 
  
  @include phones {
    width: 100%;
  }
}
