.about-section {
  padding-top: 170px;
}

.about__container {
 display: flex;
 justify-content: center;
}

.about__user-wrapper {
  display: flex;
  max-width: 1000px;

  @include phones {
    flex-direction: column;
  }
}

.about__user {
  width: 41.5%; 
  
  @include phones {
    width: 100%;
  }
}
