.hero__title {

  display: flex;
  justify-content: center;
  

  p {
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.5);
    text-align: right;
    margin-right: 50px;
    
  }
}

.hero__title-text {
  font-weight: 800;
  font-size: 72px;
  line-height: 60px;
  color: #ffffff;
  flex-basis:400px;
  /* white-space: pre-wrap; */
  /* padding: 0 544px; */
}
