.header-menu__list,.footer-menu__list {
    display: flex;
  }
  
  .header-menu__item,.footer-menu__item {
    margin-right: 60px;
  
    &:last-child {
      margin-right: 0;
    }
  }
  
  .header-menu__link,.footer-menu__link {
    display: block;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
    color: #FFFFFF;
  }

  .header-menu__list {
    @include tablets {
      display: none;
    }
  }