
.slider-header {
  
}

.slider__header-wrapper {
  display: flex;
  margin-bottom: 95px;
  padding-top: 140px;
  align-items: center;
}

.slider__buttons {
}


.slider__content-wrapper {

}
.slider__content {
  display: flex;
  padding-right: 29%;
  padding-bottom: 226px;
  
}
.slider__item {
  flex-shrink: 0;
  
  width: 55%;
  display: flex;
  
  

  
}