.reviews {
  min-height: 724px;
  background: url("~images/content/reviews_bgc.jpg") center center / cover
    no-repeat;
  padding: 10% 0 10% 0;

  @include phones {
    padding: 80px 10%;
  }
}

.reviews-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1;
  color: #ffffff;
  margin-right: 10%;

  @include tablets {
    font-size: 30px;
    margin-right: 6%;
  }

  
  @include phones {
    font-size: 24px;
    margin-right: 0;
    margin-bottom: 25px;
  }
  

}
