.user-display {
  display: flex;
  align-items: center;
}
.user-display__avatar {
  margin-right: 30px;
}
.user-display__avatar-style {
  width: 75px;
  height: 75px;
  overflow: hidden;
  border-radius: 50%;
  flex-shrink: 0;
}
.user-display__data {
}
.user-display__name {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  margin-bottom: 20px;
}
.user-display__occ {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.5);
}
