.reviews {
  padding-top: 140px;
  background: url("~images/content/reviews_bgc.jpg") center center / cover
    no-repeat;
}

.reviews-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  color: #ffffff;
  margin-right: 100px;
}


