.round-btn {
  position: relative;
  width: 53px;
  height: 53px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  background: none;
}
.round-btn--pointer--right {
  margin-right: 20px;
}
.round-btn--pointer--left {
}

.round-btn_arrow-next-icon,
.round-btn_arrow-prev-icon {
  position: absolute;
  width: 17px;
  height: 17px;
  fill: white;
  transform: translate(-50%, -50%);
}

.round-btn_arrow-prev-icon {
  transform: rotate(180deg) translate(50%, 50%);
}