.scroll__btn {
    display: flex;
    justify-content: center;
    /* margin-bottom: 175px; */
}

.scroll__btn-text {
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    
}

.arrow-wrapper {
    width: 13px;
    height: 13px;
}

.scroll-down {
    width: 13px;
    height: 13px;
    fill:#FFFFFF;
    margin-left: 15px;
}
