.socials {
  @include phones {
    display: none;
  }
}

.socials__list {
    display: flex;
  }
  
  .socials__item {
    width: 25px;
    height: 25px;
    margin-right: 39px;
  
    &:last-child {
      margin-right: 0;
    }
  }
  
  .social-icon {
    fill: rgba(255, 255, 255, 0.3);
    width: 25px;
    height: 25px;
    transition: 0.3s;

    &:hover {
      fill: rgba(255, 255, 255, 1);
    }
  }
  