.square-btns__item {
  display: block;
  width: 53px;
  height: 53px;
  background: #333c49;
}

.arrow-next,
.arrow-prev {
  width: 17px;
  height: 17px;
  fill: #717883;

  &:hover {
    fill: #FFFFFF;
  }
}

.arrow-prev {
  transform: rotate(180deg);
  
}
