.square-btns__item {
  position: relative;
  display: block;
  width: 35px;
  height: 35px;
  background: #333c49;
}

.arrow-next,
.arrow-prev {
  width: 11px;
  height: 11px;
  fill: #717883;
  position: absolute;

  &:hover {
    fill: #FFFFFF;
  }
}

.arrow-prev {
  transform:translate(-50%,-50%) rotate(180deg);
  
}


.arrow-next {
  transform: translate(-50%,-50%);
}