@mixin desktopHd() {
  @media screen and (max-width: $bp-desktop-hd) {
    @content;
  }
}

@mixin desktop() {
  @media screen and (max-width: $bp-desktop) {
    @content;
  }
}

@mixin desktop1000() {
  @media screen and (max-width: 1000px) {
    @content;
  }
}

@mixin tablets() {
  @media screen and (max-width: $bp-tablets) {
    @content;
  }
}

@mixin phones() {
  @media screen and (max-width: $bp-phones) {
    @content;
  }
}