.tag {
  position: relative;
  white-space: nowrap;
  padding: 6px 30px 8px 20px;
  border-radius: 50px;
  color: rgba(40, 51, 64, 0.5);
  margin-right: 8px;
  margin-bottom: 8px;
  font-size: 13px;

  span {
    display: inline-block;
    line-height: 1;
  }
}


.remove {
    position: absolute;
    display: block;
    right: 15px;
    top: 50%;
    transform: translate(0, -62.5%);
    background: transparent;
    font-weight: bold;
    font-size: 14px;
}