script(type="text/x-template")#skills-list
    ul.skills
        svg(style="width:0; height:0; position: absolute;" aria-hidden="true")
            linearGradient(id="gradient" x1="0%" y1="0%" x2="100%" y2="0%")
                stop(offset="0%" stop-color="#4D87EE")
                stop(offset="100%" stop-color="#345CE9")
        li.skills__item(v-for="category in skills" :key="category.id")
            skillsRow(
                :category="category"
            )


script(type="text/x-template")#skills-row
    .skills-row 
        h4.skills-row__title {{category.category}}
        ul.skills-row-list
            li.skills-row__item(v-for="skill in category.skills" :key="skill.id")
                skillsItem(
                    :skill="skill"
                )


script(type="text/x-template")#skills-item 
    .skill
        svg(viewBox="0 0 100 100").skill__circle-shape
            circle(cx="50" cy="50" r="40").skill__circle.skill__circle--layer--under
            circle(cx="50" cy="50" r="40" ref="colored-circle" stroke="url(#gradient)" transform="rotate(180 50 50)").skill__circle.skill__circle--layer--above

        h5.skill__title {{skill.title}}                                  