@import "../../../styles/mixins.pcss";


.bottom-line {
  padding-top: 70px;
  margin-top: auto;
  padding-left: 20%;


  @include tablets {
padding-left: 0;
  }
}

.item {
  margin-bottom: 20px;
  
}

.edit-line {
width: 100%;
}