include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        section.fullscreen-section.hero
          .container.hero__container
            header.header
              .logo-wrapper
                h3.logo ВА
              +menu('menu',["Обо мне", "Навыки", "Работы", "Отзывы"]) 
              .socials
                  ul.socials__list
                    each social in ['insta', 'vk', 'github', 'envelope']
                      li.socials__item
                        a(href="#" class=`socials__link .social__link_${social}`)
                          +icon(`${social}`, 'social-icon')
            .hero__title
              p Личный сайт веб разработчика              
              h1.hero__title-text Владимир Астаханов 
            .scroll__btn
              a(href="#" class='scroll__btn-text') Скролл
                span.arrow-wrapper
                  +icon('scroll', 'scroll-down')
                  
              
               


