extends ./main.layout.pug


block content
  .welcome-section
        section.hero
          .container.hero__container
            header.header
              .logo-wrapper
                h3.logo ВА
              +menu('menu',["Обо мне", "Навыки", "Работы", "Отзывы"]) 
              .socials
                  ul.socials__list
                    each social in ['insta', 'vk', 'github', 'envelope']
                      li.socials__item
                        a(href="#" class=`socials__link .social__link_${social}`)
                          +icon(`${social}`, 'social-icon')
            .hero__title
              p Личный сайт веб разработчика              
              h1.hero__title-text Владимир Астаханов 
            .scroll__btn
              a(href="#" class='scroll__btn-text') Скролл
                span.arrow-wrapper
                  +icon('scroll', 'scroll-down')
          section.about
            .container
              .portfolio
                .portfolio__personal-data
                  .photo__wrapper
                    +image('content/user.jpg', 'user-pic')
                  .basic-data
                    ul.basic-data__list
                      each value, key in obj
                        li.basic-data__item
                          p.category= key
                    ul.basic-data__list
                      each value, key in obj
                        li.basic-data__item
                          p.value= value      
                          
                .portfolio__desc
                  .greetings Привет, меня зовут 
                  .object-name Владимир Астаханов
                  .about Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                  .footnote Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!


                    
                    
                
                
    

